# Problem Statement

What is a competitive salary range for a full-time data scientist, and is there a difference in salary between U.S. and non-U.S. positions?

## Alternative ways to ask the question 

How does full-time data scientist salary vary by experience level and location?

How does full-time data scientist salary vary by company size and location?

# Load and Prepare the Data

In [1]:
import pandas as pd
import numpy as np

import os

In [5]:
# open and read file 
infile = "/Users/evebarr20/Documents/DSE_5002/Project1/project_1_data.csv"
ds_df = pd.read_csv(infile, index_col = 'Unnamed: 0')
ds_df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L

In [6]:
# shape of the data set
ds_df.shape

(607, 11)

In [8]:
# data types
ds_df.dtypes

work_year              int64
experience_level      object
employment_type       object
job_title             object
salary                 int64
salary_currency       object
salary_in_usd          int64
employee_residence    object
remote_ratio           int64
company_location      object
company_size          object
dtype: object

In [13]:
# convert appropriate variables to type Categorical 
ds_df['work_year'] = pd.Categorical(ds_df.work_year)
ds_df['experience_level'] = pd.Categorical(ds_df.experience_level)
ds_df['employment_type'] = pd.Categorical(ds_df.employment_type)
ds_df['job_title'] = pd.Categorical(ds_df.job_title)
ds_df['salary_currency'] = pd.Categorical(ds_df.salary_currency)
ds_df['employee_residence'] = pd.Categorical(ds_df.employee_residence)
ds_df['remote_ratio'] = pd.Categorical(ds_df.remote_ratio)
ds_df['company_location'] = pd.Categorical(ds_df.company_location)
ds_df['company_size'] = pd.Categorical(ds_df.company_size)

ds_df.dtypes

work_year             category
experience_level      category
employment_type       category
job_title             category
salary                   int64
salary_currency       category
salary_in_usd            int64
employee_residence    category
remote_ratio          category
company_location      category
company_size          category
dtype: object

In [16]:
# check for missing values 
missing_counts = ds_df.isnull().sum()
print(missing_counts)

work_year             0
experience_level      0
employment_type       0
job_title             0
salary                0
salary_currency       0
salary_in_usd         0
employee_residence    0
remote_ratio          0
company_location      0
company_size          0
dtype: int64

# Exploratory Data Analysis